body {
  width: 100%;
  height: 100%;
  margin: 1em auto;
  text-align: center;
  background-color: #1b1b32;
  color: #f5f6f7;
  margin-bottom: 5em;
}
a {
  color: #e1eb5e;
}
h1 {
  color: #e1eb5e;
  font-size: 300%;
}
a:hover {
  color: #ffffff;
}
hr {
  width: 500px;
}
fieldset {
  width: 70%;
  margin: 0 auto;
}

/*
# fcc-websites
<em>Website development projects with freecodecamp.org</em> 
                                                                            

<h2>Project1 -</h2>                                                              

HTML implementation
Published online hosted link -                                            
<a href="https://vermashaurya.github.io/fcc-websites/CatPhotoApp/catphotoapp.html">CatPhotoApp website</a>       
(A simple website structure with a form)

<h2>Project2 -</h2>                                                        

CSS integration on HTML
Published online hosted link -                                      
<a href="https://vermashaurya.github.io/fcc-websites/CafeMenu/cafemenu.html">CafeMenu website</a>        
(A designed website displaying a well-aligned menu)


<h2>Project3 -</h2>

Complete CSS play-around 
Published online hosted link - <br>
<a href="https://vermashaurya.github.io/fcc-websites/ColorMarker/colormarker.html">ColorMarkers website</a> <br>
(A display of CSS functionalities with multiple div elements)

<h2>Project4 -</h2>

Balanced, harmonious frontend
Published online hosted link - <br>
<a href="https://vermashaurya.github.io/fcc-websites/RegistrationForm/registrationform.html">RegistrationForm website</a> <br>
(Various input tags, best SEO practices website)

*/
